{{- /* You can add your own layouts/comments.html to override this file */ -}}
<script src="https://utteranc.es/client.js"
        repo="othsueh/othsueh.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script>
  (function () {
    let theme = localStorage.getItem("pref-theme");
    // already has prefer theme
    if (theme) {
      theme = theme === "dark" ? "github-dark" : "github-light";
    }
    // auto detected
    else {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "github-dark"
        : "github-light";
    }
    const comment = document.createElement("script");
    comment.src = "https://utteranc.es/client.js";
    comment.crossorigin = "anonymous";
    comment.async = true;
    comment.setAttribute("repo", "fissssssh/fissssssh.github.io");
    comment.setAttribute("issue-term", "pathname");
    comment.setAttribute("label", "Comment");
    comment.setAttribute("theme", theme);
    document.body.appendChild(comment);
  })();
</script>
